<!-----------------------FOOTER AREA WITH SOCIAL LINKS AND NAV AND LOCATION INFO----------------------------->
<footer class="footer">
    <div class="social-links">
        <ul class="social">
            <li><i class="fab fa-facebook-square fa-3x"></i></li>
            <li><i class="fab fa-twitter-square fa-3x"></i></li>
            <li><i class="fab fa-instagram fa-3x"></i></li>
            <li><i class="fab fa-google-plus-square fa-3x"></i></li>
        </ul>
    </div>
    <div class="sitemap">
        <ul>
            <li><a>Towers</a></li>
            <li><a>Gallery</a></li>
            <li><a>Biminis</a></li>
            <li><a>About</a></li>
            <li><a>Admin</a></li>
        </ul>
    </div>
    <div class="address">
        <h6>New Dimension Towers<br>3933 East Lamar Alexander Pkwy<br>Friendsville, TN 37886</h6>
        <h6><a href="tel:8659951000">865-995-1000</a></h6>
        <h6>Info@newdimensiontowers.com</h6>
    </div>
    <div class="copy">
        <!--COPYRIGHT INFO-->
        <P>&copy; New Dimension Towers 2019</P>
    </div>
</footer>