<header id="myHeader" class="head">
    <div class="fullscreen-wrap"></div>
        <div class="nav-container">
          <div class="brand">
            <a href="#"><img src="img/logo_modified.png" alt=""></a>
          </div>


            <nav>
                <div class="nav-mobile"><a id="nav-toggle" href="#"><span></span></a></div>
    
                <ul class="nav-list">
                    <li>
                    <a href="/dynamic_pages/towers.html">Towers</a>
                    </li>
                    <li>
                    <a href="#">Biminis</a>
                    </li>
                    <li>
                    <a href="#">Accesories</a>
                    </li>
                    <li>
                    <a href="#">About</a>
                    </li>
                    <li>
                    <a href="#">Contact</a>
                    </li>
                    <li>
                    <a href="#">Blog</a>
                    </li>
                </ul>
            </nav>

        </div>
</header>