{% extends 'base.html' %}

{% load humanize %}

{% load static %}


{% block content %}
<main>
    <!--------------------------------------STATIC CONTENT ---------------------------------------------------------------->
    <!-- <div class="spacer"></div> -->
    <div class="header-bg"></div>
    <h1 class="tower-title">NDT Premium Wakeboard Towers <br> Made in the usa</h1>

    <div class="spacer"></div>

    <div class="container">
        <div class="jumbotron">

            <p>Select the manufacturer of your boat</p>
            <!--------Select form and submit button------------>
            <form action="{% url 'towers' %}" method="POST" id="tower-form"> 
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Submit" class="btn btn-primary">
            </form>
            <div class="spacer-xs"></div>
            
            <div class="row">
                <div class="col-lg-6">
                    <div class="swiper-container">
                        {% if main_img %}
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    {% if main_img %}
                                        <img class="swiper-img" src="{{ main_img.0.image.url }}" alt="{{ main_img.0.description }}">
                                    {% else %}
                                        <img class="swiper-img" src="{% static 'img/00-01_Prostar_195.jpg' %}" alt="Main image of wakeboard tower">
                                    {% endif %}
                                </div>
                                <div class="swiper-slide">
                                    {% if ang_img %}
                                        <img class="swiper-img" src="{{ ang_img.0.image.url }}" alt="{{ ang_img.0.description }}">
                                    {% else %}
                                        <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_angle.jpg' %}" alt="angled image of wakeboard tower">
                                    {% endif %}
                                </div>
                                <div class="swiper-slide">
                                    {% if back_img %}
                                        <img class="swiper-img" src="{{ back_img.0.image.url }}" alt="{{ back_img.0.description }}">
                                    {% else %}
                                        <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_back.jpg' %}" alt="back image of wakeboard tower">
                                    {% endif %}
                                </div>
                                <div class="swiper-slide">
                                    {% if coll_img %}
                                        <img class="swiper-img" src="{{ coll_img.0.image.url }}" alt="{{ coll_img.0.description }}">
                                    {% else %}
                                        <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_collapsed.jpg' %}" alt="collapsed image of wakeboard tower">
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <img class="swiper-img" src="{% static 'img/00-01_Prostar_195.jpg' %}" alt="main image of wakeboard tower">
                                </div>
                                <div class="swiper-slide">
                                    <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_angle.jpg' %}" alt="angled view of wakeboard tower">
                                </div>
                                <div class="swiper-slide">
                                    <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_back.jpg' %}" alt="back view of wakeboard tower">
                                </div>
                                <div class="swiper-slide">
                                    <img class="swiper-img" src="{% static 'img/00-01_Prostar_195_collapsed.jpg' %}" alt="collapsed view of wakeboard tower">
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
                <div class="col-lg-6">
                    <h3 class="boat-title">Mastercraft tower</h3>
                    <p class="boat-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit aliquid nemo, illo nulla dicta ut, dolore molestiae, vero fugiat error nostrum magnam voluptate ipsam placeat tempore deserunt delectus? Vel assumenda soluta maiores aliquid quam placeat consequuntur, nesciunt facere. Quo repellendus ea voluptatibus, unde natus quos suscipit eligendi quibusdam cumque quidem?</p>
                    <ul class="boat-features">
                        <li>100% made in America</li>
                        <li>Lorem ipsum dolor sit amet.</li>
                        <li>Lorem ipsum dolor sit.</li>
                        <li>Lorem ipsum dolor sit amet consectetur.</li>
                    </ul>

                </div>

            </div>


            
            <a href="{% url 'installation' %}"><p class="bottom-content">Installation guide | <span><a href="{% url 'faq' %}">FAQ</a></span></p></a>

            
        </div>

        <div class="spacer-small"></div>

        <!--selection banner with links-->
        <div class="banner-links">
            <ul>
                <li><a href="#!">Biminis</a></li>
                <li><a href="#!">tower accessories</a></li>
                <li><a href="#!">Reviews</a></li>
                <li><a href="#!">Contact</a></li>
                <li><a href="#!">Tech support</a></li>
            </ul>
        </div>

        <div class="spacer-small"></div>

        <!--Boat gallery-->
        <div class="card-container">
            <h2>Select your boat</h2>

            <div class="box">

                {% if towers %}
                    {% for tower in towers %}
                        
                            <!--------- ADD IF MANUFACTURER IS == TO < SELECTION NAME >------------->
                            <div class="card">
                                <img src="{{ tower.first_image.image.url }}" alt="{{ tower.first_image.description }}" class="card-image">
                                
                                <h3 class="card-title">{{tower.title}}</h3>
                                <p class="card-tag">{{ tower.description }}</p>
                                <div class="card-bottom">
                                    <p class="card-price">${{ tower.price | intcomma }}</p>
                                    <a href="#!" class="card-icon"><i class="fas fa-plus-circle"></i></a>
                                </div>
                            </div>
                        
                    {% endfor %}
                {% else %}
                    <div class="col-md-12">
                        <p>No towers available</p>
                    </div>
                {% endif %}


            </div>

            <div class="spacer"></div>
        </div>

        <div class="spacer-small"></div>

        <div class="card-container-tower">
            <h3>What our customers are saying</h3>
            <div class="reviews">
                <div class="review-card">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="review-name">John S.</h3>
                    <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nobis esse. Vero aliquid itaque minima natus soluta incidunt aperiam?</p>
                </div>
                <div class="review-card">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="review-name">John S.</h3>
                    <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nobis esse. Vero aliquid itaque minima natus soluta incidunt aperiam?</p>
                </div>
                <div class="review-card">
                    <div class="rating">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h3 class="review-name">John S.</h3>
                    <p class="review-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, nobis esse. Vero aliquid itaque minima natus soluta incidunt aperiam?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="spacer"></div>
</main>
{% endblock %}