{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!------------------------Content for Biminis page--------------------------------->
<Main>
 
    <div class="heading">
        <h2>Biminis</h2>
        <p>New Dimension Towers offers the highest qualtiy biminis on the market. By using high strength stainless steel tubing and fittings, our biminis stand up against the toughest conditions. Our biminis are specifically designed for each tower. Which means they fit correctly to the tower and look better.</p>
        <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
    </div>

    <div class="bimini-gallery">
        <h3>Highest quality biminis on the market</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, repudiandae.</p>
        <div class="img-container">
            <div class="img-card">
                <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
                <p>heavy duty stainless fittings</p>
            </div>
            <div class="img-card">
                <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="img-card">
                <img src="{% static 'img/fabrics.jpg' %}" alt="">
                <p>Several colors to choose from</p>
            </div>

        </div>
    </div>
    <!-- section -->
    <div class="bimini-bottom">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="bimini-title">Over the top Bimini</h3>
                <p class="bimini-content">Description from bimini model</p>
                <div class="thumbnails">
                    <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
                    <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
                    <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
                    <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
                </div>
                <button class="btn btn-success">Add to cart</button>
            </div>
        </div>
    </div>


</Main>
{% endblock %}