{% extends 'base.html' %}
{% load static %}

{% block content %}
    <!------------------------Content for Biminis page--------------------------------->
<Main>
 
    <div class="heading">
        <h2>Biminis</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi velit accusantium nemo, quos, saepe mollitia molestias sed fuga recusandae iure odio. Asperiores ipsa quam, quos, saepe ipsam molestiae delectus pariatur unde dolores earum quia illo nesciunt. Beatae praesentium accusamus minima eaque repellendus quo voluptatem ad, fugit tempore sint hic molestiae!</p>
        <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
    </div>

    <div class="bimini-gallery">
        <h3>Highest quality biminis on the market</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit, repudiandae.</p>
        <div class="img-container">
            <div class="img-card">
                <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
                <p>heavy duty stainless fittings</p>
            </div>
            <div class="img-card">
                <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div class="img-card">
                <img src="{% static 'img/fabrics.jpg' %}" alt="">
                <p>Several colors to choose from</p>
            </div>

        </div>
    </div>
    <!-- section -->
    <div class="bimini-bottom">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'img/bimini_cat.jpg' %}" alt="">
            </div>
            <div class="col-md-6">
                <h3 class="bimini-title">Over the top Bimini</h3>
                <p class="bimini-content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo, eos!</p>
                <div class="tower-selection"></div>
                <div class="add-to-cart-btn"><a href="#!"></a></div>
            </div>
        </div>
    </div>


</Main>
{% endblock %}